@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-weight: bold;
}

a, a:visited, a:hover, a:active {
    color: unset;
    text-decoration: underline;
}

#home {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 1000;
}

#app {
    height: 100%;
    min-height: 100%;
    position: relative;
}

#ui {
    min-height: 100%;
    position: relative;
}

#header {
    text-align: center;
}

#node-not-found {
    padding-top: 40px;
    text-align: center;
    word-break: break-all;
}

#claim-node {
    padding-top: 40px;
    text-align: center;
}

#claim-node button {
    width: 200px;
}

#node-details {
    padding-top: 40px
}

#node-details .input-group {
    width: calc(100% - 110px);
}

#node-details button {
    width: 100px;
}

#node-details .input-group-text {
    width: 140px;
}

.separator div {
    position: relative;
    font-size: x-large;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.separator {
    padding-top: 40px;
    color: #aaa;
}

.separator div:before, .separator div:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 40%;
    height: 1px;
    margin-left: 10px;
    content: '\a0';
    background-color: #aaa;
}

.separator div:before {
    margin-left: calc(-40% - 10px);
    text-align: right;
}

#node-events {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#node-events .event {
    display: table;
    width: 825px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-color: #aaa;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

#node-events .event-row {
    display: table-row;
}

#node-events .event-attribute-key {
    display: table-cell;
    width: 200px;
    padding-right: 10px;
    font-weight: bold;
}

#node-events .event-attribute-value {
    display: table-cell;
    word-break: break-all;
}

#no-provider {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: xx-large;
}

#no-provider div {
    margin-bottom: 40px;
    text-align: justify;
}

#no-provider #plugins {
    text-align: center;
    margin-bottom: unset;
}

#no-provider #dapper {
    height: 180px;
    width: 300px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: unset;
}

#no-provider #metamask {
    height: 180px;
    width: 300px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: unset;
}

#no-provider #dapper img {
    width: 300px;
    height: auto;
    vertical-align: middle;
}

#no-provider #metamask img {
    width: 300px;
    height: auto;
    vertical-align: middle;
}

#footer-clearance {
    padding-bottom: 100px;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding-top: 5px;
    background-color: gray;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    overflow: auto;
}
